@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  li a:hover svg {
    color: rgb(255, 255, 255);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
* {
  box-sizing: border-box;
}
#map {
  width: 100%;
  height: 100%;
}

.what3words-autosuggest .input-field {
  width: 100%;
  font-size: 16px;
  border-width: 0px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  border-style: outset;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  margin-top: 5px;
  outline: none;
}
.what3words-autosuggest-item {
  background: #ebebeb !important;
  padding: 0px !important;
  box-shadow: none !important;
}
.what3words-autosuggest-item .match {
  background: #fcfcfc !important;
  box-shadow: none !important;
}
.what3words-autosuggest-item:hover {
  background: #f9f9f9 !important;
  box-shadow: none !important;
}
.what3words-autosuggest-item .active,
.what3words-autosuggest-item:active {
  background: #fc9fc9 !important;
  box-shadow: none !important;
}
.what3words-autosuggest-address {
  height: auto !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
}
.what3words-autosuggest-address > .what3words-autosuggest-words {
  width: auto !important;
  white-space: inherit !important;
  overflow: inherit !important;
  text-overflow: inherit !important;
}
.what3words-autosuggest-nearest-place {
  padding: 0px 0px 0px 18px !important;
}
.what3words-autosuggest-nearest-place-text {
}
.what3words-autosuggest-nearest-place-text > div:first-child {
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  text-overflow: inherit !important;
}
.what3words-autosuggest-nearest-place-distance {
  font-weight: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}
.what3words-autosuggest-error-wrapper {
  z-index: inherit !important;
}
.what3words-autosuggest-error {
  top: 0px !important;
  border: 0px !important;
  background: #555 !important;
}
.what3words-autosuggest-message {
  padding: 0px !important;
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}
